.warning {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.fail {
    color: red;
    background: lightgray;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}